html[mode='light'][theme="lily"] {
	--clock:url('../images/clock-lily.png') no-repeat;
	--hour:#B6C529;
	--min:var(--background);
}
html[mode='dark'][theme="lily"] {
	--clock:url('../images/clock-lily-dark.png') no-repeat;
	--hour:#424c06;
	--min:#77890b;
}
html[mode='light'][theme="moth"] {
	--clock:url('../images/clock-moth.png') no-repeat;
	--hour:#7cabe7;
	--min:#c8dcf5;
}
html[mode='dark'][theme="moth"] {
	--clock:url('../images/clock-moth-dark.png') no-repeat;
	--hour:#5d8cb3;
	--min:#193348;
}
html[mode='light'][theme="pin"] {
	--clock:url('../images/clock-pin.png') no-repeat;
	--hour:#e97e38;
	--min:var(--background);
}
html[mode='dark'][theme="pin"] {
	--clock:url('../images/clock-pin-dark.png') no-repeat;
	--hour:#521f16;
	--min:#b35747;
}
html[mode='light'][theme="orchid"] {
	--clock:url('../images/clock-orchid.png') no-repeat;
	--hour:#fff;
	--min:var(--background);
}
html[mode='dark'][theme="orchid"] {
	--clock:url('../images/clock-orchid-dark.png') no-repeat;
	--hour:#9d3535;
	--min:#441717;
}
html[mode='light'][theme="helle"] {
	--clock:url('../images/clock-helle.png') no-repeat;
	--hour:#d9c7d3;
	--min:var(--background);
}
html[mode='dark'][theme="helle"] {
	--clock:url('../images/clock-helle-dark.png') no-repeat;
	--hour:#5a0f3c;
	--min:#624356;
}

html {
     height: 100%;
     box-sizing: border-box;
     -webkit-text-size-adjust: 100%;
     -webkit-tap-highlight-color: transparent;
     overflow-x: hidden;
}
 body {
     background-color: var(--background);
     font-size: 1rem;
     overflow-x: hidden;
}
 header {
     background-color: transparent;
     position: relative;
    /* height: 150px;
     */
     padding: 2vh 0;
}
 .heading {
    /* color: var(--monet);
     */
     display: block;
     margin-top: 60px;
     font-weight: 900;
 }

.phone {
	display: flex;
	position: relative;
	float: right;
	right: 5%;
	margin: auto;
	height: 540px;
	width: 260px;
	background: url('../images/phone.png') no-repeat;
	transition: background 1.2s linear;
	background-size: 100%;
}

.overlay {
    display: flex;
    position: relative;
    float: right;
    z-index: -1;
    margin: auto;
    bottom: 7px;
    border-radius: 17px;
    height: 474px;
    width: 217px;
    background-image: var(--url);
	background-repeat: no-repeat;
	background-size: 100%;
    transition: background 1.2s linear;
}

 @media screen and (max-width: 500px) {
     header {
         padding: 0;
    }
     #main {
         display:none;
    }
	.phone {
		display: flex;
		text-align: center;
		right: unset;
		float: unset;
		height: 670px;
		width: 340px;
	}
	.overlay {
		height: 622px;
		width: 283px;
		bottom: -11px;
	}
}

#clockContainer {
	display: flex;
	justify-content: center;
	align-items: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 150px;
    height: 150px;
    width: 150px;
    background: var(--clock);
    background-size: 100%;
}
  
#hour,
#minute {
	position: absolute;
	display: flex;
	justify-content: center;
	border-radius: 50%;
}
  
#hour {
    z-index: 1;
    height: 80px;
    /* width: 10em; */
}
  
#minute {
    height: 100px;
    /* width: 5em; */
}

#hour:before {
    content: "";
    position: absolute;
    height: 50%;
    width: 12px;
    background-color: var(--hour);
    border-radius: 12px;
}

#minute:before {
    content: "";
    height: 50%;
    width: 12px;
    background-color: var(--min);
    border-radius: 12px;
}

#style {
    position: absolute;
    /* left: 39%; */
    /* margin-top: -3px; */
    transform-origin: center;
    /* top: -1px; */
}

#day {
    color: var(--color2);
    margin-bottom: 102px;
    font-size: 0.8rem;
}

.sec {
    text-align: center;
    height: 12px;
    width: 12px;
    margin-left: 10.5px;
    border-radius: 50%;
    background: var(--min);
}

.cir {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
	z-index: 5;
    bottom: 0;
    margin: auto;
    height: 8.8%;
    width: 8.8%;
    background: var(--monet);
    border-radius: 50%;
}